@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
                Contact list
            </h2>
        </div>
    </section>

    
}
<h3>Odaberite opciju:</h3>
<ol class="round">
    <li class="one">
        <h5>Lista kontakata</h5>
       Pregled svih kontakata
        <a href="/Contact">Contact</a>
    </li>

    <li class="two">
        <h5>Pretraga kontakata</h5>
        Pretrazivanje kontakata po imenu, prezimenu ili tagu
        <a href="/Contact/SearchIndex">Pretraga</a>
    </li>


</ol>
